$primary: #F71963;
$bg: #ffffff;
$black: #000000;
$gray-50: #F6F5F2;
$gray-75: #DEDEDE;
$gray-100: #F0F0F0;
$gray-125: #F4F4F4;
$gray-150: #9F9F9F;
$gray-200: #BDBDBD;
$gray-800: #4E4E4E;
$gray-850: #3B3B3B;
