@use 'colors';

@mixin center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin center-horizontal {
    display: flex;
    align-items: center;
}

@mixin background($imgpath, $position:0 0, $repeat: no-repeat, $size: cover) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $size;
    }
}