@use '../../abstracts/colors';
@use '../../abstracts/mixins';

.copyright {
    width: 100%;
    background-color: colors.$gray-950;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 80px;

    .copyright__text {
        width: 48%;
        font-size: 10px;
        font-weight: 300;
        color: colors.$bg;
        text-transform: uppercase
    }

    .copyright__icons {
        @include mixins.center-horizontal;
        gap: 16px;
    }
}