@use '../../abstracts/colors';
@use '../../abstracts/mixins';

.marcas-chevron {
    width: 56px;
    height: 56px;

    background-color: colors.$bg;
    border: none;
    border-radius: 100%;

    @include mixins.center-vertical;
    justify-content: center;

    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}