@use '../abstracts/colors';
@use '../abstracts/mixins';

.button-v1 {
    width: 227px;
    height: 60px;

    border: none;
    border-radius: 5px;

    background-color: colors.$primary;
    
    font-size: 18px;
    font-weight: 500;
    color: colors.$bg;
}