@use '../abstracts/colors';
@use '../abstracts/mixins';

.section-title {
    @include mixins.center-horizontal;
    gap: 34px;
    justify-content: center;

    .section-title__bar {
        width: 360px;
        height: 1px;

        background-color: colors.$gray-75;
    }

    .section-title__title {
        font-size: 30px;
        font-weight: bold;
        color: colors.$primary;
    }
}

.section-sub {
    width: 100%;
    @include mixins.center-vertical;
    justify-content: center;
    gap: 4px;

    .section-sub__text {
        font-size: 15px;
        font-weight: bold;
        color: colors.$gray-900;
    }
}