@use '../abstracts/colors';
@use '../abstracts/mixins';

.single-marca {
    width: 211px;
    height: 211px;
    background-color: colors.$bg;

    @include mixins.center-vertical;
    justify-content: center;

    border-radius: 100%;

    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}